/* Geral */
* {
    font-family: Montserrat;
    font-weight: 300;
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.msg {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

/* navbar */

#navbar {
    display: flex;
    align-items: flex-start;
}

#navbar img {
    width: 40px;
}

#navbar a {
    font-weight: 400;
    color: white;
}

#navbar a:hover {
    color: aqua;
}

#login {
    display: flex;
}

#login ul {
    margin-left: 10px;
}

/* Área de pesquisa */
#search-container {
    background-image: url("../img/loja_apple_corte.jpeg");
    background-size: cover;
    background-position: center;
    height: 700px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: white;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

/* Produtos (cards) */
#produtos-container {
    padding: 50px;
}

#produtos-container h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
}

#produtos-container .subtitle,
#produtos-container .subtitle-produtos {
    margin-bottom: 30px;
    text-align: center;
}

#cards-container {
    display: flex;
    align-items: stretch;
}

#produtos-container .card {
    align-self: flex-start;
    width: calc(15% - 10px);
    min-width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

#produtos-container img {
    margin: auto;
    display: block;
    height: 400px;
    max-width: 95%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: scale-down;
}

#produtos-container p {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.card .card-title {
    color: #212121;
    font: 20px;
    font-weight: 900;
    margin-bottom: 30px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #212121;
    color: white;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}

/* Telas de cadastro */
#cadastrar-produtos-container,
#categorias-existentes,
#adicionar-categorias-container {
    padding: 30px;
}

#adicionar-categorias-container h1,
#adicionar-categorias-container h2,
#cadastrar-produtos-container h1 {
    text-align: center;
}

#cadastrar-produtos-container label,
#adicionar-categorias-container label {
    font-size: 18px;
}

#cadastrar-produtos-container input,
#cadastrar-produtos-container select,
#cadastrar-produtos-container textarea,
#adicionar-categorias-container input,
#adicionar-categorias-container textarea {
    font-size: 15px;
}

#botao-cadastrar {
    display: flex;
    margin: 20px auto;
}

/* tela de produtos */

.tituloProdutos {
    font-size: 50px;
    text-align: center;
}

.subtitle-produtos {
    font-size: 25px;
    text-align: center;
}

/* tela do produto separado */

#info-container h1 {
    font-size: 50px;
    margin: 30px 0;
}

#info-container p {
    font-size: 20px;
    margin: 20px 0;
}

#info-container button {
    margin: auto 0;
}

#image-container img {
    max-height: 600px;
}

.botao {
    display: flex;
    justify-content: center;
}

/* dashboard */

.dashboard-produtos-container,
.dashboard-categorias-container {
    margin-top: 100px;
    text-align: center;
}

.categorias-container {
    margin-top: 40px;
    text-align: center;
}

.categorias-container h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.dashboard-produtos-container h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.dashboard-produtos-container form,
.dashboard-categorias-container form {
    display: inline-block;
}

.cadastro {
    margin: 10px auto;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 20px auto;
    width: 20%;
}

.cadastro:hover {
    font-size: 110%;
    color: rgb(160, 160, 160);
}

/* edit page */

.img-preview {
    height: 700px;
    margin: auto;
    display: block;
}
